<mat-tab-group id="mainPage">
    <mat-tab id="simTest" label="Simulation"> 
        <header id="topbar"></header>
        <div id="simulationLayer">
            <section class="inputsandtexts">
                <mat-form-field id="Suits" appearance="fill">
                    <mat-label>Suit</mat-label>
                    <mat-select id="SuitSelect" [(ngModel)]="Suit">
                    <mat-option id="diamond" value="diamond">Diamond</mat-option>
                    <mat-option id="club" value="club">Club</mat-option>
                    <mat-option id="heart" value="heart">Heart</mat-option>
                    <mat-option id="spade" value="spade">Spade</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Val</mat-label>
                    <mat-select id="ValsSelect" [(ngModel)]="Val" type="number" > <!--Why does type="number" not work?-->
                        <!--Values get 1 subtracted so they get sent to the backend right, but the default values are used for the images because I don't want to rename them all-->
                        <mat-option id="ace" value="1">Ace</mat-option>
                        <mat-option *ngFor='let key of [2,3,4,5,6,7,8,9,10]' value="{{key}}">{{key}}</mat-option>
                        <mat-option id="jack" value="11">Jack</mat-option>
                        <mat-option id="queen" value="12">Queen</mat-option>
                        <mat-option id="king" value="13">King</mat-option>
                    </mat-select>
                </mat-form-field>
                <div>Index</div>
                <input
                [(ngModel)]="Index"
                type="number"
                placeholder="Testing">
                <button id="add_card" (click)="addCard()">Add Card</button>
            </section>


            
            <section class="cardWrapper">
                <div class="cardImgs" *ngFor="let images of currImgs">
                    <mat-card>
                        <img mat-card-img src="{{images}}" alt="Image of a Card">
                    </mat-card>
                </div>
            </section>
            
            <aside id="rightSideBar">
                <h2>Current Hand</h2>
                <div *ngFor="let card of currentHand" class="rightsideloop">
                    <div>{{ card.Suit }} {{ card.Val }}</div>
                    <br>
                </div>
            </aside>    
        </div>
    </mat-tab>

    <mat-tab label="Hand List"> Stuff </mat-tab>

    <mat-tab label="Poker Terms"> More Stuff </mat-tab>
</mat-tab-group>






<!--<mat-slide-toggle>Toggle me!</mat-slide-toggle>
<br class="removemelater">
<div>
    <div>
        <mat-form-field>
            <input [(ngModel)]="Suit" matInput type="text" placeholder="Enter Suit">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input [(ngModel)]="Val" matInput type="text" placeholder="Enter Value">
        </mat-form-field>
    </div>
</div>
<button mat-raised-button (click)="addCard()">Add Card</button>

<br class="removemelater">
<div *ngFor="let currentCard of currentHand">
    <div>{{currentCard.Suit}} {{currentCard.Val}}</div>
</div>

<mat-card>
    <mat-card-header>
        <mat-card-title>This is an example card</mat-card-title>
    </mat-card-header>
    <img mat-card-img width="350" height="500" src="../assets/cardexample.png" alt="An example of a card">
</mat-card>-->
