.mat-tab-label {
    background-color: red;
  }

.cardWrapper {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    align-content: flex-start;
}

.holecards {
    width: 80%;
}

.holecardsdark {
    width: 80%;
    color:white;
}

.simulationNums {
    width:20%;
    text-align:center;
    box-shadow: 0.5rem 0.5rem black, -0.5rem -0.5rem #ccc;
}

.simulationNumsDark {
    width:20%;
    text-align:center;
    color:white;
    box-shadow: 0.5rem 0.5rem white, -0.5rem -0.5rem rgb(131, 131, 131);
}

#topProbCombined {
    margin: 5%;
    margin-top: 10%;
}

#bottomProbs {
    font-family:Roboto;
    font-size:0.9vw;
}

.moreInfoButton {
    margin-top:2.5%;
}

.moreInfoButtonDark {
    margin-top:2.5%;
    background-color: #474747 !important;
    color:white !important;
}

#topName {
    font-family:Roboto;
    font-size:1.5vw;
}

#topProb { 
    font-family:Roboto;
    font-size:1.5vw;
    font-weight:bold;
}

#probTitle {
    font-weight:bold;
    font-family:Roboto;
    font-size:2vw;
    margin-top: 2%;
}

#darkModeToggle {
    margin-top: 1%;
    width:5%; 
}

#topButtons {
    margin-left: 7%;
    margin-bottom: 1%;
    margin-top: 1%;
    width: 85%;
}

.indivbutts {
    margin-left: 1%;
}

.indivbuttsdark {
    margin-left: 1%;
    background-color: #474747 !important;
    color:white !important;
}

#holecardswrapper {
    margin-left: 6%;
    width: 32%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

#holecardswrapper #cardImgs:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.communitycards #bottomcardImgs:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.communitycardsdark #bottomcardImgs:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.communitycards {
    margin-left: 6.5%;
    margin-top: 2%;
    width: 100%;
    display:flex;
    flex-wrap: wrap;
}

.communitycardsdark {
    margin-left: 6.5%;
    margin-top: 2%;
    width: 100%;
    color:white;
    display:flex;
    flex-wrap: wrap;
}

#cardtitles {
    text-align: center;
    width: 100%;
    font-size:250%;
}

.buttwrapper{ 
    width:100%;
    justify-content:center;
    display:flex;
    margin-top: 2%;
}

#bottomCardTitle {
    margin-left: 5%;
    width: 100%;
    font-size:250%;
}

.removed {
    width:0%;
}

#cardImgs {
    width: 40%;
    margin: 1%;
    height: auto;
    justify-content: center;
}

#bottomcardImgs {
    width: 11.5%;
    margin: 0.25%;
    height: auto;
}


.inputsandtexts {
    margin-right: 5%;
    width: 10%;
    height: auto;
    font-size: 10%;
}

#rightSideBar {
    display:flex;
    justify-content: right;
    flex-direction: column;
    width: 15%;
    border-left-color:black;
    border-left-width: 10px;
}

.topbarbuttons {
    flex-grow: 1;
    height: 100%;
}

#simulationLayer {
    display:flex;
    flex-wrap: wrap;
    width:94.8vw;
    height:94.8vh;
}

.colortester {
    height:100%;
    width:100%;
    background-color:#121212;
    position:absolute;
    z-index: -1;
}

#spinner {
    left: 50%;
    right: 50%;
    top: 40%;
    position:absolute;
    z-index: 1001;
}

#screendarkener {   
    background-color:black;
    height: auto;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 70%;
    z-index: 1000;
}

.selectionWrapper { 
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    position:absolute;
    z-index: 1001;
    justify-content:center;
}

.suitSelection {
    margin-top: 10% !important;
    color:white !important;
    font-weight: bold !important;
    font-size: 400% !important;
    width: 100% !important;
    font-family: Roboto !important;
    text-align: center !important;
}

.errorWarning {
    margin-top: 20% !important;
    color:red !important;
    font-weight: bold !important;
    font-size: 200% !important;
    font-family: Roboto !important;
    text-align: center !important;
}

.suitImg {
    width:5%;
    margin:2%;
    height:auto;
}

.valueSelect {
    color:white !important;
    font-weight: bold !important;
    margin-top: 5% !important;
    margin-left: 1% !important;
    margin-right: 1% !important;
    font-size: 300% !important;
}

.content {
    padding: 16px;
}

.content > mat-card {
    width: 400px;
    min-height: 400px;
}
