
<div class="inputsandtexts">
    <mat-form-field appearance="fill">
        <mat-label>Suit</mat-label>
        <mat-select [(ngModel)]="Suit">
          <mat-option value="diamond">Diamond</mat-option>
          <mat-option value="club">Club</mat-option>
          <mat-option value="heart">Heart</mat-option>
          <mat-option value="spade">Spade</mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Val</mat-label>
        <mat-select [(ngModel)]="Val" type="number" > <!--Why does type="number" not work?-->
            <!--These values are just for the images-->
            <mat-option value="0">Ace</mat-option>
            <mat-option *ngFor='let key of [2,3,4,5,6,7,8,9,10]' value="{{key}}">{{key}}</mat-option>
            <mat-option value="11">Jack</mat-option>
            <mat-option value="12">Queen</mat-option>
            <mat-option value="13">King</mat-option>
        </mat-select>
    </mat-form-field>


    
        <div>Index</div>
        <input
        [(ngModel)]="Index"
        type="number"
        placeholder="Testing">
    <button (click)="addCard()">Add Card</button>

    <br>
    <br>
    <br>

    <div *ngFor="let card of currentHand">
        <div>{{ card.Suit }}</div>
        <div>{{ card.Val }}</div>
        <br>
    </div>
</div>




<div class="cardImgs">
    <div class="cardImgs" *ngFor="let images of currImgs">
        <mat-card class="cardImgs">
            <img mat-card-img width="175" height="250" src="{{images}}" alt="Image of a Card">
        </mat-card>
    </div>
</div>


<!--<mat-slide-toggle>Toggle me!</mat-slide-toggle>
<br class="removemelater">
<div>
    <div>
        <mat-form-field>
            <input [(ngModel)]="Suit" matInput type="text" placeholder="Enter Suit">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input [(ngModel)]="Val" matInput type="text" placeholder="Enter Value">
        </mat-form-field>
    </div>
</div>
<button mat-raised-button (click)="addCard()">Add Card</button>

<br class="removemelater">
<div *ngFor="let currentCard of currentHand">
    <div>{{currentCard.Suit}} {{currentCard.Val}}</div>
</div>

<mat-card>
    <mat-card-header>
        <mat-card-title>This is an example card</mat-card-title>
    </mat-card-header>
    <img mat-card-img width="350" height="500" src="../assets/cardexample.png" alt="An example of a card">
</mat-card>-->
