<div *ngIf="displaySuitVal || displayVal || multipleError" class="overlayClass">
    <div id="screendarkener"></div>
    <div *ngIf="displaySuitVal" class="selectionWrapper">
        <h1 class="suitSelection">Select Suit</h1>
        <img *ngIf="!darkMode" class="suitImg" id="spade" (click)="setSuit('Spade')" src="../assets/spade.png" alt="Spade">
        <img *ngIf="darkMode" class="suitImg" id="spade" (click)="setSuit('Spade')" src="../assets/spadelight.png" alt="Spade">
        <img class="suitImg" id="heart" (click)="setSuit('Heart')" src="../assets/heart.png" alt="Heart">
        <img *ngIf="!darkMode" class="suitImg" id="club" (click)="setSuit('Club')" src="../assets/club.png" alt="Club">
        <img *ngIf="darkMode" class="suitImg" id="club" (click)="setSuit('Club')" src="../assets/clublight.png" alt="Club">
        <img class="suitImg" id="diamond" (click)="setSuit('Diamond')" src="../assets/diamond.png" alt="Diamond">
        <img *ngIf="!darkMode" class="suitImg" id="random" (click)="setSuit('random')" src="../assets/dice.png" alt="Random">
        <img *ngIf="darkMode" class="suitImg" id="random" (click)="setSuit('random')" src="../assets/dicelight.png" alt="Random">
        <div class="buttwrapper">
            <button (click)="setSuit('back')" mat-raised-button >Back</button>
        </div>
    </div>
    <div *ngIf="displayVal" class="selectionWrapper">
        <h1 class="suitSelection">Select Value</h1>
        <p class="valueSelect" id="ace" (click)="setVal(1)">Ace</p>
        <p class="valueSelect" id="2" (click)="setVal(2)">2</p>
        <p class="valueSelect" id="3" (click)="setVal(3)">3</p>
        <p class="valueSelect" id="4" (click)="setVal(4)">4</p>
        <p class="valueSelect" id="5" (click)="setVal(5)">5</p>
        <p class="valueSelect" id="6" (click)="setVal(6)">6</p>
        <p class="valueSelect" id="7" (click)="setVal(7)">7</p>
        <p class="valueSelect" id="8" (click)="setVal(8)">8</p>
        <p class="valueSelect" id="9" (click)="setVal(9)">9</p>
        <p class="valueSelect" id="10" (click)="setVal(10)">10</p>
        <p class="valueSelect" id="jack" (click)="setVal(11)">Jack</p>
        <p class="valueSelect" id="queen" (click)="setVal(12)">Queen</p>
        <p class="valueSelect" id="king" (click)="setVal(13)">King</p>
        <div class="buttwrapper">
            <button (click)="setVal(-1)" mat-raised-button >Back</button>
        </div>
    </div>
    
    <div *ngIf="multipleError" class="selectionWrapper">
        <h1 class="errorWarning">There is only 1 ace, jack, king, and queen of each suit in a deck!</h1>
    </div>
</div>

<mat-spinner [diameter]="100" id="spinner" *ngIf="spinnerService.visibility | async"></mat-spinner>

<mat-tab-group dynamicHeight id="mainPage" [(selectedIndex)]="selectedIndex">
    <mat-tab label="Simulation">

        <div [ngClass]="{
            'colortester': darkMode
         }"></div>

        <div id="simulationLayer">
            
            <section id="topButtons">
                <button id="removeAll" [ngClass]="{
                    'indivbutts': !darkMode,
                    'indivbuttsdark': darkMode
                 }" (click)="removeAll()" mat-raised-button >Remove All</button>
                <button id="random" [ngClass]="{
                    'indivbutts': !darkMode,
                    'indivbuttsdark': darkMode
                 }" (click)="randomizeAll()" mat-raised-button >Randomize</button>
            </section>

            <mat-slide-toggle (change)="toggleDarkMode()" id="darkModeToggle"></mat-slide-toggle>



            <section [ngClass]="{
                'holecards': !darkMode,
                'holecardsdark': darkMode
             }">
                <div id="holecardswrapper">
                    <h2 id="cardtitles">Hole Cards</h2>
                    <div id="cardImgs" *ngFor="let images of currImgs | slice:0:2; let i=index;">
                        <!-- This first image is for when no card is added, it just displays the back-->
                        <!-- <mat-card (click)="displaySuit(0)" id="defaultcard0" *ngIf="currImgs[0] == 'unfilled' && i == 0">
                            <img mat-card-img src="../assets/back.png" alt="Image of a Card">
                        </mat-card> -->
                        <mat-card (click)="displaySuit(0)" id="defaultcard0" *ngIf="currentHand[0].Suit == '' && i == 0">
                            <img mat-card-img src="../assets/back.png">
                        </mat-card>
                        <!-- This shows the actual card image and can be adjusted through clicking-->
                        <mat-card (click)="displaySuit(0)" id="holecard1" (contextmenu)="handleRightClick(0,1,'',$event)" *ngIf="currentHand[0].Suit != '' && i == 0">
                            <img mat-card-img src="{{images}}">
                        </mat-card>
                        <mat-card (click)="displaySuit(1)" id="defaultcard1" *ngIf="currentHand[1].Suit == '' && i == 1">
                            <img mat-card-img src="../assets/back.png">
                        </mat-card>
                        <mat-card (click)="displaySuit(1)" id="holecard1" (contextmenu)="handleRightClick(1,1,'',$event)" *ngIf="currentHand[1].Suit != '' && i == 1">
                            <img mat-card-img src="{{images}}">
                        </mat-card>
                    </div>
                </div>
            </section>

            <section [ngClass]="{
                'simulationNums': !darkMode,
                'simulationNumsDark': darkMode
             }">
             <div *ngFor="let prob of newProbs;">
                {{prob.Handname}}
                {{prob.Prob}}
             </div>
            </section>

            <section [ngClass]="{
                'communitycards': !darkMode,
                'communitycardsdark': darkMode
             }">
                <h2 id="bottomCardTitle">Community Cards</h2>
                <div id="bottomcardImgs" *ngFor="let images of currImgs | slice:2; let i=index;">
                    <mat-card (click)="displaySuit(2)" id="defaultcard2" *ngIf="currentHand[2].Suit == '' && i == 0">
                        <img mat-card-img src="../assets/back.png" alt="Image of a Card">
                    </mat-card>
                    <mat-card (click)="displaySuit(2)" (contextmenu)="handleRightClick(2,1,'',$event)" *ngIf="currentHand[2].Suit != '' && i == 0">
                        <img mat-card-img src="{{images}}" alt="Image of a Card">
                    </mat-card>
                    <mat-card (click)="displaySuit(3)" id="defaultcard3" *ngIf="currentHand[3].Suit == '' && i == 1">
                        <img mat-card-img src="../assets/back.png" alt="Image of a Card">
                    </mat-card>
                    <mat-card (click)="displaySuit(3)" (contextmenu)="handleRightClick(3,1,'',$event)" *ngIf="currentHand[3].Suit != '' && i == 1">
                        <img mat-card-img src="{{images}}" alt="Image of a Card">
                    </mat-card>
                    <mat-card (click)="displaySuit(4)" id="defaultcard4" *ngIf="currentHand[4].Suit == '' && i == 2">
                        <img mat-card-img src="../assets/back.png" alt="Image of a Card">
                    </mat-card>
                    <mat-card (click)="displaySuit(4)" (contextmenu)="handleRightClick(4,1,'',$event)" *ngIf="currentHand[4].Suit != '' && i == 2">
                        <img mat-card-img src="{{images}}" alt="Image of a Card">
                    </mat-card>
                    <mat-card (click)="displaySuit(5)" id="defaultcard5" *ngIf="currentHand[5].Suit == '' && i == 3">
                        <img mat-card-img src="../assets/back.png" alt="Image of a Card">
                    </mat-card>
                    <mat-card (click)="displaySuit(5)" (contextmenu)="handleRightClick(5,1,'',$event)" *ngIf="currentHand[5].Suit != '' && i == 3">
                        <img mat-card-img src="{{images}}" alt="Image of a Card">
                    </mat-card>
                    <mat-card (click)="displaySuit(6)" id="defaultcard6" *ngIf="currentHand[6].Suit == '' && i == 4">
                        <img mat-card-img src="../assets/back.png" alt="Image of a Card">
                    </mat-card>
                    <mat-card (click)="displaySuit(6)" (contextmenu)="handleRightClick(6,1,'',$event)" *ngIf="currentHand[6].Suit != '' && i == 4">
                        <img mat-card-img src="{{images}}" alt="Image of a Card">
                    </mat-card>
                    

                </div>
            </section>

        </div>
    </mat-tab>

    <mat-tab id="handList" label="Hand List">
        <div class="content">
            <div fxLayout="row wrap" fxLayoutGap="16px grid">
                <div fxFlex="20%">
                    <mat-card class="high-card">
                        <mat-card-header>
                            <mat-card-title>High Card</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="../assets/highCard.PNG">
                        <mat-card-content>
                            <p>
                                <br> High card is the lowest possible hand, made up of five cards which do not produce any of the above.
                                What does high card beat?
                                If you end up with a high card, you need to hope your opponents have this too, as even a pair beats it. 
                                When your opponents also lack so much as a pair, the highest value card wins.<br><br>
                                Current Probability:  {{ currentProb[0].Prob }}
                            </p>
        
                        </mat-card-content>
                        <mat-card-actions>
                            <button (click)="removeAll(); setHand([{Suit: 'Spade', Val: 1, Index: 2}]); changeTab(0)" mat-button>Show in Simulation</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div fxFlex="20%">
                    <mat-card class="One Pair">
                        <mat-card-header>
                            <mat-card-title>One Pair</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="../assets/onePair.PNG">
                        <mat-card-content>
                            <p>
                                <br> One pair is simply two cards of the same value, such as having two kings in your hand.
                                What does one pair beat?
                                One pair can only beat a high card or a lower value pair. But if you bluff hard enough, it could still be a winning poker hand.<br><br><br>
                                Current Probability:  {{ currentProb[1].Prob }}
                            </p>
        
                        </mat-card-content>
                        <mat-card-actions>
                            <button (click)="removeAll(); setHand([{Suit: 'Spade', Val: 1, Index: 2}, {Suit: 'Heart', Val: 1, Index: 3}]); changeTab(0)" mat-button>Show in Simulation</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div fxFlex="20%">
                    <mat-card class="Two Pair">
                        <mat-card-header>
                            <mat-card-title>Two Pair</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="../assets/twoPair.PNG">
                        <mat-card-content>
                            <p>
                                <br>Two pair is exactly what it says, two pairs, each being a different rank. For example, 8-8-5-5-3 would be two pairs.
                                What does two pair beat?
                                Two pairs are better than one, so you're sure to beat one pair.<br><br><br>
                                Current Probability:  {{ currentProb[2].Prob }}
                            </p>
        
                        </mat-card-content>
                        <mat-card-actions>
                            <button (click)="removeAll(); setHand([{Suit: 'Spade', Val: 1, Index: 2}, {Suit: 'Heart', Val: 1, Index: 3},{Suit: 'Spade', Val: 2, Index: 4}, {Suit: 'Heart', Val: 2, Index: 5}]); changeTab(0)" mat-button>Show in Simulation</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div fxFlex="20%">
                    <mat-card class="Three of Kind">
                        <mat-card-header>
                            <mat-card-title>Three of Kind</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="../assets/threeOfAKind.PNG">
                        <mat-card-content>
                            <p>
                                <br>Just like its four card counterpart, a 3 of a kind consists of three cards of the same rank – for instance, your five-card hand contains 8-8-8-5-2.
                                What does 3-of-a-kind beat?
                                While it might not be one of the highest poker hands, 3 of a kind still beats two pairs, one pair and high card.<br><br><br>
                                Current Probability:  {{ currentProb[3].Prob }}
                            </p>
        
                        </mat-card-content>
                        <mat-card-actions>
                            <button (click)="removeAll(); setHand([{Suit: 'Spade', Val: 1, Index: 2}, {Suit: 'Heart', Val: 1, Index: 3}, {Suit: 'Club', Val: 1, Index: 4}]); changeTab(0)" mat-button>Show in Simulation</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div fxFlex="20%">
                    <mat-card class="Straight">
                        <mat-card-header>
                            <mat-card-title>Straight</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="../assets/straight.PNG">
                        <mat-card-content>
                            <p>
                                <br>If you have a straight, you’ll hold five consecutive cards which are not all the same suit. For example, 8-7-6-5-4 in different suits. The highest possible straight sequence is A-K-Q-J-10.
                                What does straight beat?
                                A poker straight always beats a 3 of a kind, two pair or a single pair. It does not beat a flush or better.<br><br><br>
                                Current Probability:  {{ currentProb[4].Prob }}
                            </p>
        
                        </mat-card-content>
                        <mat-card-actions>
                            <button (click)="removeAll(); setHand([{Suit: 'Spade', Val: 5, Index: 2}, {Suit: 'Heart', Val: 6, Index: 3},
                            {Suit: 'Heart', Val: 7, Index: 4}, {Suit: 'Diamond', Val: 8, Index: 5}, {Suit: 'Club', Val: 9, Index: 6}]); changeTab(0)" mat-button>Show in Simulation</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div fxFlex="20%">
                    <mat-card class="Flush">
                        <mat-card-header>
                            <mat-card-title>Flush</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="../assets/flush.PNG">
                        <mat-card-content>
                            <p>
                                <br>A flush in poker consists of five cards which are all part of the same suit, but not in a consecutive order, such as A-K-8-7-3 in hearts.<br><br><br>
                                Current Probability:  {{ currentProb[5].Prob }}
                            </p>
        
                        </mat-card-content>
                        <mat-card-actions>
                            <button (click)="removeAll(); setHand([{Suit: 'Spade', Val: 1, Index: 2}, {Suit: 'Spade', Val: 3, Index: 3},
                            {Suit: 'Spade', Val: 8, Index: 4}, {Suit: 'Spade', Val: 11, Index: 5}, {Suit: 'Spade', Val: 6, Index: 6}]); changeTab(0)" mat-button>Show in Simulation</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div fxFlex="20%">
                    <mat-card class="Full House">
                        <mat-card-header>
                            <mat-card-title>Full House</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="../assets/fullHouse.PNG">
                        <mat-card-content>
                            <p>
                                <br>A full house poker hand is made up of a matching three of a kind together with a pair of a different value. For example, 10-10-10-8-8 – which is 
                                known as a ‘tens full of eights’. The only hands which can beat a full house are four of a kind, straight flush or royal flush. When two 
                                people have a full house, the highest three of a kind wins. If that rank happens to be the same, 
                                the one with the highest matching pair wins the hand. <br><br><br>
                                Current Probability:  {{ currentProb[6].Prob }}
                            </p>
        
                        </mat-card-content>
                        <mat-card-actions>
                            <button (click)="removeAll(); setHand([{Suit: 'Spade', Val: 1, Index: 2}, {Suit: 'Diamond', Val: 1, Index: 3},
                            {Suit: 'Heart', Val: 4, Index: 4}, {Suit: 'Club', Val: 4, Index: 5}, {Suit: 'Spade', Val: 4, Index: 6}]); changeTab(0)" mat-button>Show in Simulation</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div fxFlex="20%">
                    <mat-card class="Four of Kind">
                        <mat-card-header>
                            <mat-card-title>Four of a Kind</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="../assets/fourOfAKind.PNG">
                        <mat-card-content>
                            <p>
                                <br>A four of a kind in poker is simply four cards of the same value. So if you end up with 7-7-7-7-4 in your five-card hand, congratulations, you’ve got ‘quads’!
                                This is very often a winning poker hand, beating anything other than a straight/royal flush. If another player also has a four of a kind, the rank of the four cards 
                                will determine who wins. For example, J-J-J-J-4 beats A-7-7-7-7.<br><br><br>
                                Current Probability:  {{ currentProb[7].Prob }}
                            </p>
        
                        </mat-card-content>
                        <mat-card-actions>
                            <button (click)="removeAll(); setHand([{Suit: 'Spade', Val: 1, Index: 2}, {Suit: 'Diamond', Val: 1, Index: 3},
                            {Suit: 'Heart', Val: 1, Index: 4}, {Suit: 'Club', Val: 1, Index: 5}, {Suit: '', Val: 0, Index: 6}]); changeTab(0)" mat-button>Show in Simulation</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div fxFlex="20%">
                    <mat-card class="Straight Flush">
                        <mat-card-header>
                            <mat-card-title>Straight Flush</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="../assets/straightFlush.PNG">
                        <mat-card-content>
                            <p>
                                <br>A straight flush is made up of five consecutive cards, all in the same suit. For example, 9-8-7-6-5 all in diamonds.
                                This beats all other poker hands, except for a higher straight flush.<br><br><br>
                                Current Probability:  {{ currentProb[8].Prob }}
                            </p>
        
                        </mat-card-content>
                        <mat-card-actions>
                            <button (click)="removeAll(); setHand([{Suit: 'Spade', Val: 2, Index: 2}, {Suit: 'Spade', Val: 3, Index: 3},
                            {Suit: 'Spade', Val: 4, Index: 4}, {Suit: 'Spade', Val: 5, Index: 5}, {Suit: 'Spade', Val: 6, Index: 6}]); changeTab(0)" mat-button>Show in Simulation</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div fxFlex="20%">
                    <mat-card class="Royal Flush">
                        <mat-card-header>
                            <mat-card-title>Royal Flush</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="../assets/royalFlush.PNG">
                        <mat-card-content>
                            <p>
                                <br>Sitting at the very top of the poker hierarchy, you’ll find the royal flush.
                                 The strongest poker hand of all is a type of straight flush where you have 
                                 A-K-Q-J-10 – all in the same suit. As the highest poker hand, a royal flush beats every other hand your opponents might hold.<br><br><br>
                                Current Probability:  {{ currentProb[9].Prob }}
                            </p>
        
                        </mat-card-content>
                        <mat-card-actions>
                            <button (click)="removeAll(); setHand([{Suit: 'Spade', Val: 10, Index: 2}, {Suit: 'Spade', Val: 11, Index: 3},
                            {Suit: 'Spade', Val: 12, Index: 4}, {Suit: 'Spade', Val: 13, Index: 5}, {Suit: 'Spade', Val: 1, Index: 6}]); changeTab(0)" mat-button>Show in Simulation</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
        </div>
    </mat-tab>

    <mat-tab label="Poker Terms"> More Stuff </mat-tab>
</mat-tab-group>





<!--       
<section class="inputsandtexts">
    <mat-form-field id="Suits" appearance="fill">
        <mat-label>Suit</mat-label>
        <mat-select id="SuitSelect" [(ngModel)]="Suit">
        <mat-option id="diamond" value="diamond">Diamond</mat-option>
        <mat-option id="club" value="club">Club</mat-option>
        <mat-option id="heart" value="heart">Heart</mat-option>
        <mat-option id="spade" value="spade">Spade</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Val</mat-label>
        <mat-select id="ValsSelect" [(ngModel)]="Val" type="number" > 
            <mat-option id="ace" value="1">Ace</mat-option>
            <mat-option *ngFor='let key of [2,3,4,5,6,7,8,9,10]' value="{{key}}">{{key}}</mat-option>
            <mat-option id="jack" value="11">Jack</mat-option>
            <mat-option id="queen" value="12">Queen</mat-option>
            <mat-option id="king" value="13">King</mat-option>
        </mat-select>
    </mat-form-field>
    <div>Index</div>
    <input
    [(ngModel)]="Index"
    type="number"
    placeholder="Testing">
    <button id="add_card" (click)="addCard()">Add Card</button>
</section>



<section class="cardWrapper">
    <div class="cardImgs" *ngFor="let images of currImgs">
        <mat-card>
            <img mat-card-img src="{{images}}" alt="Image of a Card">
        </mat-card>
    </div>
</section>

<aside id="rightSideBar">
    <h2>Current Hand</h2>
    <div *ngFor="let card of currentHand" class="rightsideloop">
        <div>{{ card.Suit }} {{ card.Val }}</div>
        <br>
    </div>
</aside>    
    --->



<!--<mat-slide-toggle>Toggle me!</mat-slide-toggle>
<br class="removemelater">
<div>
    <div>
        <mat-form-field>
            <input [(ngModel)]="Suit" matInput type="text" placeholder="Enter Suit">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input [(ngModel)]="Val" matInput type="text" placeholder="Enter Value">
        </mat-form-field>
    </div>
</div>
<button mat-raised-button (click)="addCard()">Add Card</button>

<br class="removemelater">
<div *ngFor="let currentCard of currentHand">
    <div>{{currentCard.Suit}} {{currentCard.Val}}</div>
</div>

<mat-card>
    <mat-card-header>
        <mat-card-title>This is an example card</mat-card-title>
    </mat-card-header>
    <img mat-card-img width="350" height="500" src="../assets/cardexample.png" alt="An example of a card">
</mat-card>-->
